<div class="border-bottom border-warning bg-light shadow-sm">
  <nav class="container py-md-0 pt-md-2 pt-2 bg-light mb-0">
    <ol class="breadcrumb mt-1">
      <li class="breadcrumb-item small">
        <a href="#">Akèy</a>
      </li>
      <li class="breadcrumb-item small">
        <a href="#">Lirik</a>
      </li>
      <li class="breadcrumb-item small">
        <a href="#">Rasin</a>
      </li>
      <li class="breadcrumb-item small">
        <a href="#">Boukman Eksperyans</a>
      </li>
      <li class="breadcrumb-item small active" aria-current="page">
        Tuipe Ya Tuipe
      </li>
    </ol>
  </nav>
</div>