<app-song-breadcrumb></app-song-breadcrumb>
<app-ldb-ads-on-top></app-ldb-ads-on-top>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-3">
      <section class="mr-lg-5 border-top border-warning">
        <div id="songHeader" class="card shadow-sm mb-3 rounded-0 border-0 bg-light">
          <div class="card-body p-0">
            <div class="d-flex">
              <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="align-self-center ml-2">
              <div class="mx-3">
                <h1 class="lead display-4" id="headerText">Tuipe Ya Tuipe</h1>
                <h3 class="lead" id="singers">Baky Popile ft T-Joe Zenny</h3>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mr-lg-5 mt-4">
        <div class="row">
          <div class="col-md-2 col-sm-12 mb-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
              <a class="nav-link active small text-center" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                role="tab"><i class="fab fa-readme mx-2"></i> Pawol</a>
              <a class="nav-link soundcloud small text-center" id="v-pills-profile-tab" data-toggle="pill"
                href="#v-pills-profile" role="tab"><i class="fab fa-soundcloud mx-2"></i> Odyo</a>
              <a class="nav-link youtube small text-center" id="v-pills-messages-tab" data-toggle="pill"
                href="#v-pills-messages" role="tab"><i class="fab fa-youtube mx-2"></i> Videyo</a>
              <a class="nav-link small text-center" id="v-pills-settings-tab" data-toggle="pill"
                href="#v-pills-settings" role="tab"><i class="fas fa-info mx-2"></i> Detay</a>
            </div>
          </div>
          <div class="col-md-10 col-sm-12">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel">
                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                  Lorem ipsum dolor sit amet.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                </p>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                  Lorem ipsum dolor sit amet.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                </p>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                  Lorem ipsum dolor sit amet.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                </p>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                  Lorem ipsum dolor sit amet.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                </p>

                <p class="lead">
                  Lorem ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                  Lorem ipsum dolor sit amet.
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, necessitatibus!
                </p>
              </div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel">
                <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/600964365&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
              </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel">
                <iframe width="100%" height="324" src="https://www.youtube.com/embed/rDrk_zEToQE" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel">
                <table class="table table-sm">
                  <tbody>
                    <tr>
                      <td>Dat</td>
                      <td>24 Janv 2017</td>
                    </tr>
                    <tr>
                      <td>Ekri</td>
                      <td>Jeanjean Roosevelt</td>
                    </tr>
                    <tr>
                      <td>Pwodiktè</td>
                      <td>Zack Touch</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



      </section>
      <section id="comments" class="mr-lg-5 mt-4">
        <app-comments></app-comments>
      </section>
    </div>
    <div class="col-md-4 mb-3">
      <app-ads-sidebar></app-ads-sidebar>
      <app-news-sidebar></app-news-sidebar>
    </div>
  </div>
</div>