<!-- Login (to be moved to self-component) -->
<div class="pos-f-t">
  <div class="collapse bg-dark" id="toggleSignIn">
    <!-- All Options -->
    <div class="container px-4 pt-4 pb-2">
      <p class="lead text-white font-weight-bold">{{ authSectionHeader }}</p>
      <div *ngIf="!userIsRecoveringPassword" class="row">
        <div class="col-md-4">
          <button class="btn text-white mb-2 mr-2" id="facebook">
            <i class="fab fa-facebook-f"></i> Konekte ak Facebook
          </button>

          <button class="btn text-white mb-2" id="twitter">
            <i class="fab fa-twitter"></i> Konekte ak Twitter
          </button>

          <button class="btn text-white mb-2 mr-2" id="google">
            <i class="fab fa-google"></i> Konekte ak Google
          </button>

          <button *ngIf="!userIsSignIn" (click)="showUserForm('signin')" class="btn btn-outline-light mb-2"
            id="emailConnect">
            <i class="fas fa-at"></i> Konekte ak Email
          </button>
        </div>
        <div class="col-md-8">
          <div class="leaderboardAds d-none d-md-block"></div>
        </div>
      </div>
    </div>

    <!-- Sign in with Email -->
    <div *ngIf="userIsSignIn" class="container px-4 pb-4">
      <div class="mb-2">
        <hr class="bg-white">
      </div>

      <form class="form-inline">
        <input type="email" name="email" class="form-control mb-2 mr-md-2" placeholder="Email" autofocus>
        <input type="password" name="password" class="form-control mb-2 mr-md-2" placeholder="Mokle ou" autofocus>

        <button type="submit" class="btn btn-outline-warning mb-2 mr-2">
          Konekte
        </button>

        <span (click)="showUserForm('signup')" class="lead text-white mb-2 mr-2">
          Kreye kont ak Email
        </span>

        <span class="lead text-white mb-2" (click)="showUserForm('recoverPassword')">
          Rekipere Modpas
        </span>

      </form>
    </div>

    <!-- Sign Up with Email -->
    <div *ngIf="userIsSignUp" class="container px-4 pb-4">
      <div class="mb-2">
        <hr class="bg-white">
      </div>

      <form class="form-inline">
        <input type="username" name="username" class="form-control mb-2 mr-md-2" placeholder="Non Itilizate" autofocus>
        <input type="email" name="email" class="form-control mb-2 mr-md-2" placeholder="Email">
        <input type="password" name="password" class="form-control mb-2 mr-md-2" placeholder="Modpas">

        <button type="submit" class="btn btn-outline-warning mb-2 mr-2">
          Kreye kont
        </button>

        <span class="lead text-white mb-2" (click)="showUserForm('recoverPassword')">
          Rekipere Modpas
        </span>

      </form>
    </div>

    <!-- Recover Account -->
    <div *ngIf="userIsRecoveringPassword" class="container px-4 pb-4">
      <div class="mb-2">
        <hr class="bg-white">
      </div>

      <form class="form-inline">
        <input type="email" name="email" class="form-control mb-2 mr-md-2" placeholder="Email">

        <button type="submit" class="btn btn-outline-warning mb-2 mr-2">
          Rekipere Modpas
        </button>

      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-md navbar-light bg-warning">
  <div class="container">
    <a class="navbar-brand mb-0 h1" routerLink="/">PawolMizik</a>

    <a href="#" class="d-md-none d-xs-block ml-auto mr-2" data-toggle="collapse"
      data-target="#toggleSignIn"><small>KONEKTE</small></a>

    <a href="#" class="d-md-none d-xs-block mr-2 text-dark"><i class="fas fa-search searchIconMobile"></i></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/lyrics" routerLinkActive="active" class="nav-link">Lirik</a>
        </li>
        <li class="nav-item">
          <a routerLink="/artists" routerLinkActive="active" class="nav-link">Atis</a>
        </li>
        <li class="nav-item">
          <a routerLink="/news" routerLinkActive="active" class="nav-link">Nouvèl</a>
        </li>
      </ul>

      <div class="d-none d-md-block navbar-nav ml-auto">
        <form>
          <input type="text" class="form-control searchControl" placeholder="Rechech ...">
        </form>
      </div>

      <ul class="d-none d-md-block navbar-nav">
        <li class="nav-item">
          <a href="" class="nav-link" data-toggle="collapse" data-target="#toggleSignIn">Konekte</a>
        </li>
      </ul>
    </div>

  </div>
</nav>