<app-song-breadcrumb></app-song-breadcrumb>
<app-ldb-ads-on-top></app-ldb-ads-on-top>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-3">
      <section class="mr-lg-5 border-top border-warning">

      </section>

      <section class="mr-lg-5 mt-4">

      </section>
      <section id="comments" class="mr-lg-5 mt-4">
        <app-comments></app-comments>
      </section>
    </div>
    <div class="col-md-4 mb-3">
      <app-ads-sidebar></app-ads-sidebar>
      <app-news-sidebar></app-news-sidebar>
    </div>
  </div>
</div>