<!-- This panel control which alphabetic letter is being displayed -->

<app-artists-name-alphabetical (emittedLetter)="displayLetter($event)"></app-artists-name-alphabetical>
<app-ldb-ads-on-top></app-ldb-ads-on-top>
<div class="container">
    <div class="row">
        <div *ngIf="show === '#'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'A'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'B'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'C'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'D'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'E'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'F'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'G'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'H'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'I'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'J'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'K'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'L'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'M'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'N'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'O'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'P'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'Q'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'R'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'S'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'T'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'U'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'V'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'W'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'X'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'Y'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>
        <div *ngIf="show === 'Z'" class="col-md-8 mb-3">
            <section class="mr-lg-5">
                <app-artists-alpha title="{{show}}"></app-artists-alpha>
            </section>
        </div>

        <div class="col-md-4 mb-3">
            <app-punchline></app-punchline>
            <div class="mt-3">
                <app-ads-sidebar></app-ads-sidebar>
            </div>
            <div class="mt-3">
                <app-news-sidebar></app-news-sidebar>
            </div>

        </div>
    </div>
</div>