<div class="card">
  <div class="card-header">
    3 Komantè
  </div>
  <div class="card-body pt-1">
    <div class="comment">
      <div class="media mt-3">
        <img src="https://source.unsplash.com/collection/781477/32x32" class="rounded-circle mr-2 mt-2" alt="">
        <div class="media-body bg-light p-2 rounded">
          <span class="mt-0 mb-0 font-weight-bold"><a routerLink="#" class="text-dark">Best Fan</a></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam tempore recusandae dicta earum aliquid
          asperiores quibusdam molestias ipsum, consequatur ipsam tempora fuga itaque consequuntur dignissimos assumenda
          aut labore ipsa?
        </div>
      </div>
      <div class="ml-5">
        <a routerLink="#" class="small">Renmen</a>
        <span class="small text-muted m-2">-</span>
        <a routerLink="#" class="small">Repons</a>
        <span class="small text-muted m-2">-</span>
        <span class="small text-muted">1j</span>
      </div>
    </div>

    <div class="comment">
      <div class="media mt-3">
        <img src="https://source.unsplash.com/collection/781477/32x32" class="rounded-circle mr-2 mt-2" alt="">
        <div class="media-body bg-light p-2 rounded">
          <span class="mt-0 mb-0 font-weight-bold"><a routerLink="#" class="text-dark">Best Fan</a></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nam tempore recusandae dicta earum aliquid
          asperiores quibusdam molestias ipsum, consequatur ipsam tempora fuga itaque consequuntur dignissimos assumenda
          aut labore ipsa?
        </div>
      </div>
      <div class="ml-5">
        <a routerLink="#" class="small">Renmen</a>
        <span class="small text-muted m-2">-</span>
        <a routerLink="#" class="small">Repons</a>
        <span class="small text-muted m-2">-</span>
        <span class="small text-muted">1j</span>
      </div>

      <div class="comment ml-5">
        <div class="media mt-3">
          <img src="https://source.unsplash.com/collection/781477/32x32" class="rounded-circle mr-2 mt-2" alt="">
          <div class="media-body bg-light p-2 rounded">
            <span class="mt-0 mb-0 font-weight-bold"><a routerLink="#" class="text-dark">Best Fan</a></span>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel saepe atque voluptatem iste modi corporis
            officiis dolor.
          </div>
        </div>
        <div class="ml-5">
          <a routerLink="#" class="small">Renmen</a>
          <span class="small text-muted m-2">-</span>
          <a routerLink="#" class="small">Repons</a>
          <span class="small text-muted m-2">-</span>
          <span class="small text-muted">1j</span>
        </div>
      </div>
    </div>

    <div id="addComment">
      <div class="media mt-3">
        <img src="https://source.unsplash.com/collection/781477/32x32" class="rounded-circle mr-2 mt-2" alt="">
        <div class="media-body bg-light p-2 rounded">
          <form>
            <div class="input-group">
              <textarea name="comment" id="comment" class="form-control" placeholder="Fè yon komantè..."></textarea>
              <div class="input-group-append ml-1">
                <button class="btn btn-light"><i class="fas fa-paper-plane"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>