<div id="homeCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/collection/162326/1000x450" class="d-block widthBigScreen" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">News Title One</h1>
        <p class="lead d-none d-sm-block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae expedita
          pariatur eum adipisci dolores laborum possimus perferendis est sit rerum.</p>
        <a [routerLink]="['/news/link']"><button class="btn btn-warning">Read More</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/collection/162326/1001x450" class="d-block widthBigScreen" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">News Title Two</h1>
        <p class="lead d-none d-sm-block">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi quae maxime
          dignissimos exercitationem rem amet doloribus, quo facilis. Deleniti, voluptatem.</p>
        <a [routerLink]="['/news/link']"><button class="btn btn-warning">Read More</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/collection/162326/1002x450" class="d-block widthBigScreen" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">News Title Three</h1>
        <p class="lead d-none d-sm-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolor ratione
          magni alias cupiditate sit voluptas beatae doloremque minima voluptate.</p>
        <a [routerLink]="['/news/link']"><button class="btn btn-warning">Read More</button></a>
      </div>
    </div>
  </div>
  <a href="#homeCarousel" class="carousel-control-prev" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#homeCarousel" class="carousel-control-next" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>