<div class="shadow-sm px-3 pb-3 pt-2 border-top border-warning bg-light mb-5">
    <div class="d-flex justify-content-center bg-light">
        <h5>Punchline <i class="fas fa-arrow-circle-down mt-2 text-muted small"></i></h5>
      </div>
      
      <div class="card rounded-0">
        <div class="card-body">
          <blockquote class="blockquote">
            <p class="mb-0 small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <p class="mb-0 small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <p class="mb-0 small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            <footer class="blockquote-footer"><cite title="Source Title">M Damou</cite> by Baky Popile</footer>
          </blockquote>
        </div>
      </div>
</div>