<div class="container">
  <div class="row pb-3">
    <div class="col-md-6">
      <p class="small text-muted mt-3 border-bottom">Rechèch Popilè</p>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">lorem</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum dolor.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">lorem</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum dolor.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">lorem</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum dolor.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">lorem</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum.</button>
      <button type="button" class="btn btn-outline-light text-dark mr-2 mb-2 btn-sm">Lorem, ipsum dolor.</button>


    </div>
    <div class="col-md-6">
      <p class="small text-muted mt-3 border-bottom">Rezilta</p>
    </div>
  </div>
</div>