<div class="border-bottom border-warning bg-light">
    <ul class="container d-flex list-unstyled py-md-0 pt-md-2 pt-2 bg-light mb-0">
        <!-- Top 100 -->
        <li (click)="showRap('top100')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-trophy"></i></div>
              <div class="col-sm-6">Top 100</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-trophy"></i> Top 100</a>
        </li>
      
        <!-- Rap -->
        <li (click)="showRap('rap')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-microphone"></i></div>
              <div class="col-sm-6">Rap</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-microphone"></i> Rap</a>
        </li>
      
        <!-- Konpa -->
        <li (click)="showRap('konpa')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-guitar"></i></div>
              <div class="col-sm-6">Konpa</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-guitar"></i> Konpa</a>
        </li>
      
        <!-- Levanjil -->
        <li (click)="showRap('levanjil')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-bible"></i></div>
              <div class="col-sm-6">Levanjil</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-bible"></i> Levanjil</a>
        </li>
      
        <!-- Rasin -->
        <li (click)="showRap('rasin')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-drum"></i></div>
              <div class="col-sm-6">Rasin</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-drum"></i> Rasin</a>
        </li>
      
        <!-- Kanaval -->
        <li (click)="showRap('kanaval')" class="flex-fill">
          <a class="text-muted small mobile">
            <div class="row">
              <div class="col-sm-6"><i class="fas fa-mask"></i></div>
              <div class="col-sm-6">Kanaval</div>
            </div>
          </a>
          <a class="text-muted small desktopTablet"><i class="fas fa-mask"></i> Kanaval</a>
        </li>
        <li class="flex-fill"></li>
        <li class="flex-fill"></li>
        <li class="flex-fill"></li>
        <li class="flex-fill"></li>
      </ul>
</div>