<div class="shadow-sm px-3 pb-3 pt-2 border-top border-warning bg-light mb-5">
  <div class="d-flex justify-content-center bg-light">
    <h5>Nouvèl <i class="fas fa-arrow-circle-down mt-2 text-muted small"></i></h5>
  </div>

  <div class="card mb-2">
    <img src="https://source.unsplash.com/collection/781477/360x176" alt="" class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">Wendy Traka ranpli teren Kwadèboukè</h4>
      <p class="card-text small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis dolorum culpa quas
        nemo deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam debitis dolorum culpa quas
        nemo deleniti!</p>
    </div>
  </div>
</div>