<div class="border-bottom border-warning bg-light">
  <ul class="container d-flex hideOnSpecialWidth list-unstyled py-md-0 pt-md-2 pt-2 bg-light mb-0">
    <li (click)="showLetter('#')" class="flex-fill"><span class="small text-muted">#</span></li>
    <li (click)="showLetter('A')" class="flex-fill"><span class="small text-muted">A</span></li>
    <li (click)="showLetter('B')" class="flex-fill"><span class="small text-muted">B</span></li>
    <li (click)="showLetter('C')" class="flex-fill"><span class="small text-muted">C</span></li>
    <li (click)="showLetter('D')" class="flex-fill"><span class="small text-muted">D</span></li>
    <li (click)="showLetter('E')" class="flex-fill"><span class="small text-muted">E</span></li>
    <li (click)="showLetter('F')" class="flex-fill"><span class="small text-muted">F</span></li>
    <li (click)="showLetter('G')" class="flex-fill"><span class="small text-muted">G</span></li>
    <li (click)="showLetter('H')" class="flex-fill"><span class="small text-muted">H</span></li>
    <li (click)="showLetter('I')" class="flex-fill"><span class="small text-muted">I</span></li>
    <li (click)="showLetter('J')" class="flex-fill"><span class="small text-muted">J</span></li>
    <li (click)="showLetter('K')" class="flex-fill"><span class="small text-muted">K</span></li>
    <li (click)="showLetter('L')" class="flex-fill"><span class="small text-muted">L</span></li>
    <li (click)="showLetter('M')" class="flex-fill"><span class="small text-muted">M</span></li>
    <li (click)="showLetter('N')" class="flex-fill"><span class="small text-muted">N</span></li>
    <li (click)="showLetter('O')" class="flex-fill"><span class="small text-muted">O</span></li>
    <li (click)="showLetter('P')" class="flex-fill"><span class="small text-muted">P</span></li>
    <li (click)="showLetter('Q')" class="flex-fill"><span class="small text-muted">Q</span></li>
    <li (click)="showLetter('R')" class="flex-fill"><span class="small text-muted">R</span></li>
    <li (click)="showLetter('S')" class="flex-fill"><span class="small text-muted">S</span></li>
    <li (click)="showLetter('T')" class="flex-fill"><span class="small text-muted">T</span></li>
    <li (click)="showLetter('U')" class="flex-fill"><span class="small text-muted">U</span></li>
    <li (click)="showLetter('V')" class="flex-fill"><span class="small text-muted">V</span></li>
    <li (click)="showLetter('W')" class="flex-fill"><span class="small text-muted">W</span></li>
    <li (click)="showLetter('X')" class="flex-fill"><span class="small text-muted">X</span></li>
    <li (click)="showLetter('Y')" class="flex-fill"><span class="small text-muted">Y</span></li>
    <li (click)="showLetter('Z')" class="flex-fill"><span class="small text-muted">Z</span></li>
  </ul>
  <ul class="container pt-2 mb-1 d-md-none d-xs-block d-flex list-unstyled">
      <li (click)="showLetter('#')" class="flex-fill"><span class="small text-muted">#</span></li>
      <li (click)="showLetter('A')" class="flex-fill"><span class="small text-muted">A</span></li>
      <li (click)="showLetter('B')" class="flex-fill"><span class="small text-muted">B</span></li>
      <li (click)="showLetter('C')" class="flex-fill"><span class="small text-muted">C</span></li>
      <li (click)="showLetter('D')" class="flex-fill"><span class="small text-muted">D</span></li>
      <li (click)="showLetter('E')" class="flex-fill"><span class="small text-muted">E</span></li>
      <li (click)="showLetter('F')" class="flex-fill"><span class="small text-muted">F</span></li>
      <li (click)="showLetter('G')" class="flex-fill"><span class="small text-muted">G</span></li>
      <li (click)="showLetter('H')" class="flex-fill"><span class="small text-muted">H</span></li>
      <li (click)="showLetter('I')" class="flex-fill"><span class="small text-muted">I</span></li>
      <li (click)="showLetter('J')" class="flex-fill"><span class="small text-muted">J</span></li>
      <li (click)="showLetter('K')" class="flex-fill"><span class="small text-muted">K</span></li>
      <li (click)="showLetter('L')" class="flex-fill"><span class="small text-muted">L</span></li>
      <li (click)="showLetter('M')" class="flex-fill"><span class="small text-muted">M</span></li>
  </ul>
  <ul class="container shadow-sm d-md-none d-xs-block d-flex list-unstyled mb-0">
      <li (click)="showLetter('N')" class="flex-fill"><span class="small text-muted">N</span></li>
      <li (click)="showLetter('O')" class="flex-fill"><span class="small text-muted">O</span></li>
      <li (click)="showLetter('P')" class="flex-fill"><span class="small text-muted">P</span></li>
      <li (click)="showLetter('Q')" class="flex-fill"><span class="small text-muted">Q</span></li>
      <li (click)="showLetter('R')" class="flex-fill"><span class="small text-muted">R</span></li>
      <li (click)="showLetter('S')" class="flex-fill"><span class="small text-muted">S</span></li>
      <li (click)="showLetter('T')" class="flex-fill"><span class="small text-muted">T</span></li>
      <li (click)="showLetter('U')" class="flex-fill"><span class="small text-muted">U</span></li>
      <li (click)="showLetter('V')" class="flex-fill"><span class="small text-muted">V</span></li>
      <li (click)="showLetter('W')" class="flex-fill"><span class="small text-muted">W</span></li>
      <li (click)="showLetter('X')" class="flex-fill"><span class="small text-muted">X</span></li>
      <li (click)="showLetter('Y')" class="flex-fill"><span class="small text-muted">Y</span></li>
      <li (click)="showLetter('Z')" class="flex-fill"><span class="small text-muted">Z</span></li>
  </ul>
</div>