<section class="container shadow-sm px-0 pt-3">
  <!-- Tabs -->
  <ul class="nav nav-tabs bg-warning pt-2 pl-4" id="myTab" role="tablist">
    <!-- Tab 1 -->
    <li class="nav-item">
      <a class="nav-link" id="tabOne-tab" data-toggle="tab" href="#tabOne" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 2 -->
    <li class="nav-item">
      <a class="nav-link" id="tabTwo-tab" data-toggle="tab" href="#tabTwo" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 3 -->
    <li class="nav-item">
      <a class="nav-link" id="tabThree-tab" data-toggle="tab" href="#tabThree" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 4 -->
    <li class="nav-item">
      <a class="nav-link" id="tabFour-tab" data-toggle="tab" href="#tabFour" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 5 -->
    <li class="nav-item">
      <a href="#tabFive" class="nav-link" id="tabFive-tab" data-toggle="tab" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 6 -->
    <li class="nav-item">
      <a href="#tabSix" class="nav-link active" id="tabSix-tab" data-toggle="tab" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 7 -->
    <li class="nav-item d-none d-md-block">
      <a href="#tabSeven" class="nav-link" id="tabSeven-tab" data-toggle="tab" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 8 -->
    <li class="nav-item d-none d-md-block">
      <a href="#tabEight" class="nav-link" id="tabEight-tab" data-toggle="tab" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>

    <!-- Tab 9 -->
    <li class="nav-item d-none d-md-block">
      <a href="#tabNine" class="nav-link" id="tabNine-tab" data-toggle="tab" role="tab">
        <img src="https://source.unsplash.com/collection/781477/96x96" alt="" class="img-fluid rounded-circle">
      </a>
    </li>
  </ul>

  <!-- Content -->
  <div class="tab-content px-md-0" id="myTabContent">
    <!-- Tap 1 Content -->
    <div class="tab-pane fade" id="tabOne" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex">
          <p class="lead mb-0">Artist One</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 2 Content -->
    <div class="tab-pane fade" id="tabTwo" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Two</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video ></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 3 Content -->
    <div class="tab-pane fade" id="tabThree" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Three</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 4 Content -->
    <div class="tab-pane fade" id="tabFour" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Four</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 5 Content -->
    <div class="tab-pane fade" id="tabFive" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Five</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 6 Content -->
    <div class="tab-pane fade show active" id="tabSix" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Six</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 7 Content -->
    <div class="tab-pane fade" id="tabSeven" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Seven</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 8 Content -->
    <div class="tab-pane fade" id="tabEight" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Eight</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>

    <!-- Tab 9 Content -->
    <div class="tab-pane fade" id="tabNine" role="tabpanel">
      <div class="pl-4 my-4">
        <div class="d-flex pt-2">
          <p class="lead mb-0">Artist Nine</p>
          <button class="btn btn-outline-warning btn-sm ml-3 h-75 align-self-center">Swiv</button>
        </div>
        <small class="text-muted">
          <i class="fas fa-music"></i> 23 mp3
          <i class="fab fa-youtube ml-2"></i> 10 videyo
          <i class="fas fa-headphones ml-2"></i> 12345 fanatik
        </small>
      </div>
      <div class="row mt-3 mx-0">
        <div class="col-md-6 px-0">
          <!-- Inject Top Songs Component -->
          <app-top-songs title="Top Mizik"></app-top-songs>
        </div>
        <div class="col-md-6 px-0">
          <!-- Inject Lastest Video and Punchline Component -->
          <app-latest-video></app-latest-video>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mx-0 px-3 bg-light pb-md-5 pb-4 pt-3">
    <button class="btn btn-lg btn-outline-warning">Tout Atis Yo</button>
  </div>
</section>